.header__container {
	background-size: cover;
	background-image: url('/img/header.png');
	background-position: top -90px right 0px;
}

.logo__title {
	color: white;
}

body {
	background-color: antiquewhite;
}